<div class = "panel-body">
  <h2　class = "panel-heading">新しいブログを作成しました！</h2>
  
  <div class = "panel-footer">
    <div class = "panel panel-primary">
        <div class = "panel-heading">
          タイトル
        </div>
        <div class = "panel-body">
          <%= @blog.title %>
        </div>
        <div class = "panel-heading">
          内容
        </div>
        <div class = "panel-body">
          <%= @blog.content %>
        </div>
    </div>
  </div>

</div>
